PORT=3001
JWT_SECRET=replace_with_output_of__openssl_rand_-hex_32
DB_PATH=/mnt/MolStar/db/molstar.db
DATA_PATH=/mnt/MolStar/data/users
UPLOAD_LIMIT_MB=500
ADMIN_USERNAME=AdminMolstar
ADMIN_INITIAL_PASSWORD=replace_with_secure_password
